<div id="<%= dom_id comment %>" class="flex flex-col align-start">
  <div id="comment-body-<%= comment.id %>">
    <p class="mt-2"><%= comment.content %></p>
  </div>
  <div id="comment-form-<%= comment.id %>" class="hidden">
    <%= render partial: 'comments/form', locals: { comment: comment } %>
  </div>
  <div id="comment-footer-<%= comment.id %>" class="mt-2 font-medium italic text-gray-500">
    <p>
      <%= time_from_last_update(comment) %> .
      <%= button_tag 'Edit',
          data: {
            controller: 'comments',
            action: 'comments#toggleForm',
            comments_id_param: comment.id,
          }
      %> .
      <%= link_to 'Delete',
          [comment.post, comment],
          data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }
      %> .
      <%= button_tag 'Reply',
          data: {
            controller: 'comments',
            action: 'comments#toggleReplyForm',
            comments_id_param: comment.id,
          }
      %>
    </p>
  </div>
  <div id="reply-form-<%= comment.id %>" class="hidden">
    <%= render partial: 'comments/reply', locals: { comment: comment } %>
  </div>
  <div class="flex-col ml-10">
    <% if comment.replies.any? %>
      <%= render partial: 'comments/comment', collection: comment.replies %>
    <% end %>
  </div>
</div>
