<div id="<%= dom_id post %>">
  <div id="post-body-<%= post.id %>">
    <p class="font-bold text-2xl"><%= post.title %></p>
    <p class="my-5"><%= post.content %></p>
  </div>
  <div id="post-form-<%= post.id %>" class="hidden">
    <%= render partial: 'posts/form', locals: { post: post } %>
  </div>
  <div id="post-footer-<%= post.id %>" class="flex-col mt-2 font-medium italic text-gray-500 mb-5">
    <div class="flex">
      <p>
        <%= post_last_update(post) %>
        <% if can_edit_or_delete?(post) %>
          <%= link_to 'Edit', nil, data: { controller: 'posts', action: 'posts#toggleForm', posts_id_param: post.id } %> .
          <%= link_to 'Delete', [post.group, post], data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %> .
        <% end %>
        Created by <%= current_user == post.user ? 'You' : post.user.name %>
      </p>
    </div>
    <%= link_to [post.group, post] do %>
      <span>View <i class="fa-solid fa-arrow-right"></i></span>
    <% end %>
  </div>
</div>
